*{box-sizing: border-box;}

body{}
a:link {
    text-decoration: none !important;
}

a:visited {
    text-decoration: none  !important;
}

a:hover {
    text-decoration: none  !important;
}

a:active {
    text-decoration: none  !important;
}

.navbar{background:#f45a40; }

.row{display:table; width:100%;}


/* Three columns side by side */
.column {
	display:table-cell;
    padding: 16px;
	float: left;
    width: 20%;
}

/* Display the columns below each other instead of side by side on small screens */
@media (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

/* Add some shadows to create a card effect */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.card>.container {
    padding: 0 16px;
}

/* Clear floats */
.card>.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    //width: 100%;
}

.button:hover {
    background-color: #555;
}

.page-footer {
  flex: 0 0 auto;
  background-color: #dcdcdc;
}