{% extends 'retail/base.html' %}
{% block pagetitle %}
{{ title }}
{% endblock %}

{% block content %}

<a class="btn btn-primary btn-md" href="{% url 'contact_type_new' %}">New Type</a>

<div class="table-responsive">

	<table class="table table-striped">
		<thead>
			<tr>
			  <th>#</th>
			  <th>Code</th>
			  <th>Edit</th>
			  <th>Delete</th>
			</tr>
		</thead>
              <tbody>

			  {% for contacttype in list %}
                <tr>
                  <td>{{ contacttype.id }}</td>
                  <td>{{ contacttype.code }}</td>
				  <td><a class="btn btn-primary btn-sm" href="{% url 'contact_type_edit' pk=contacttype.id %}">EDIT</a></td>
				  <td><a class="btn btn-primary btn-sm" href="{% url 'contact_type_delete' pk=contacttype.id %}">DELETE</a></td>
                </tr>
				
			  {% endfor %}

              </tbody>
	</table>
</div>

{% endblock %}

