{% load static from staticfiles %}
{% comment 'Example' %}  
{% endcomment %}
{# load the tag library #}
{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
{% block head %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed' rel='stylesheet' type='text/css'>
    
	<meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>PRECARE</title>

    <link href="{% static 'css/1.12.1/jquery-ui.css' %}" rel="stylesheet">
	<link rel="stylesheet prefetch" href="{% static 'css/3.3.7/bootstrap.min.css' %}">
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">  -->
  
    <!-- Custom styles for this template -->
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
	<link href="{% static 'css/index_style.css' %}" rel="stylesheet">
	<link href="{% static 'css/style_base.css' %}" rel="stylesheet">
	<link href="{% static 'css/modal_style.css' %}" rel="stylesheet">
	<!-- <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet"> -->
	{% block extrastyle %}
	{% endblock %}
	
  </head>
{% endblock %}

<!-- <body onload="showLoader()"> -->
<!-- <div id="loader-container" style="display:block"> -->
<!-- <div id="loading"></div> -->
<!-- </div> -->
<body>
<div class="page-wrap">
<header>
    <!-- <nav class="navbar center-main-block"> -->
      
        <div class="header-top clearfix">
			<p class="logo"><a href="{% url 'index' %}" >PRECARE</a></p>
			<div class="contakt-basket">
				{% for group in user.groups.all %}
				{{group.name}}
    {% if group.name == 'maintainer' %}a
        {% comment %}Customer-specific code goes here{% endcomment %}
    {% endif %}
{% endfor %}
				{% if user.is_authenticated %}
				<a class="nourl header-basket" href="{% url 'login' %}" data-toggle="modal" data-target="#myModal1"> Welcome {{user.username}} <span class="glyphicon glyphicon-log-out"></span>
				</a>
				{% else %}
				<a class="header-basket" href="{% url 'login' %}" data-toggle="modal" data-target="#myModal1" ><span class="glyphicon glyphicon-log-in"></span> Login
				</a>
				{% endif %}
				{% if sales is None %}
				<a class="header-basket" href="{% url 'sales_web_view' %}"  data-toggle="modal" data-target="#myModal1"><span class="glyphicon glyphicon-shopping-cart"></span><span id="amt">0.00</span>
				</a>
				{% elif sales.doc_net_amt == 0 %}
				<a class="header-basket" href="{% url 'sales_web_view' %}"  data-toggle="modal" data-target="#myModal1"><span class="glyphicon glyphicon-shopping-cart"></span><span id="amt">0.00</span>
				</a>
				{% else %}
				<a class="header-basket" href="{% url 'sales_web_view' %}" id="btnCart" data-toggle="modal" data-target="#myModal1" ><span class="glyphicon glyphicon-shopping-cart"></span><span id="amt">{{sales.doc_net_amt|default:0.00}}</span>
				</a>
				{% endif %}
				<div class="header-basket"><span class="glyphicon glyphicon-earphone"></span><span>(604) 261-6943 / 262-7485</span>
				</div>
			</div>
		</div>
		</header>
<nav id='cssmenu'>
<!-- <div class="logo"><a href="index.html">Responsive </a></div> -->
<div id="head-mobile"></div>
<div class="button"></div>
<ul>
<li class='active'><a href="{% url 'index' %}">HOME</a></li>
{% with request.path as url_path %}
					<li><a href="{% url 'inventory_stationery_view' 'ST' %}">Stationery</a></li>
					<li><a href="{% url 'inventory_stationery_view' 'OF' %}">Office</a></li>
					<li><a href="{% url 'inventory_stationery_view' 'PR' %}">Printer Accessories</a></li>
					<li><a href="{% url 'inventory_stationery_view' 'PT' %}">Pantry</a></li>
					<li><a href="{% url 'inventory_stationery_view' 'PM' %}">Promotions</a></li>
					
					<li><a href="#">Maintenance</a>
						<ul>
							<li><a href="{% url 'inventory_list' %}">Inventory</a></li>
							<li><a href="{% url 'price_list' %}">Price</a></li>
							<li><a href="{% url 'promotion_list' %}">Promotion</a></li>	
							<li><a href="{% url 'customer_list' %}">Customer</a></li>	
							<li><a href="{% url 'gst_list' %}">GST</a></li>	
							<li><a href="{% url 'contact_type_list' %}">Contact Type</a></li>	
							<li><a href="{% url 'contact_info_list' %}">Contact Info</a></li>	
							<li><a href="{% url 'category_list' %}">Category</a></li>	
							<li><a href="{% url 'review_list' %}">Review</a></li>	
						</ul>
					</li>

			{% endwith %}
</ul>
</nav>

		
		<!-- <div class="menu-container"> -->
		  <!-- <div class="menu"> -->
			<!-- <ul class="nav"> -->
			  <!-- {% with request.path as url_path %} -->
					<!-- <li><a href="{% url 'inventory_stationery_view' 'ST' %}">Stationery</a></li> -->
					<!-- <li><a href="{% url 'inventory_stationery_view' 'OF' %}">Office</a></li> -->
					<!-- <li><a href="{% url 'inventory_stationery_view' 'PR' %}">Printer Accessories</a></li> -->
					<!-- <li><a href="{% url 'inventory_stationery_view' 'PT' %}">Pantry</a></li> -->
					<!-- <li><a href="{% url 'inventory_stationery_view' 'PM' %}">Promotions</a></li> -->
			<!-- {% endwith %} -->
			<!-- </ul> -->
		  <!-- </div> -->
		  <!-- <div class="buttons"> -->
			<!-- <a class="button button-menu icon-list"></a> -->
			<!-- <a class="button button-add icon-plus"></a> -->
		  <!-- </div> -->
		<!-- </div> -->
		<!-- <div id="navbar" class="header-bottom"> -->
			<!-- <nav> -->
				<!-- <ul class="menu"> -->
					<!-- {% with request.path as url_path %} -->
					<!-- <li><a href="{% url 'inventory_stationery_view' 'ST' %}" {% if url_path == '/products/ST/' %}class='active'{% endif %} >Stationery</a></li> -->
					<!-- <li><a href="{% url 'inventory_stationery_view' 'OF' %}" {% if url_path == '/products/OF/' %}class='active'{% endif %} >Office</a></li> -->
					<!-- <li><a href="{% url 'inventory_stationery_view' 'PR' %}" {% if url_path == '/products/PR/' %}class='active'{% endif %} >Printer Accessories</a></li> -->
					<!-- <li><a href="{% url 'inventory_stationery_view' 'PT' %}" {% if url_path == '/products/PT/' %}class='active'{% endif %} >Pantry</a></li> -->
					<!-- <li><a href="{% url 'inventory_stationery_view' 'PM' %}" {% if url_path == '/products/PM/' %}class='active'{% endif %} >Promotions</a></li> -->
					<!-- {% endwith %} -->
				<!-- </ul> -->
			<!-- </nav> -->

          <!-- <form class="navbar-form navbar-right"> -->
            <!-- <input type="text" class="form-control" placeholder="Search..."> -->
          <!-- </form> -->
        <!-- </div> -->

		<!-- Modal -->

<div class="modal" id="myModal1" role="dialog">
<div class="Message">  


	  <!-- Modal content-->
	  <div class="modal-content">
	  
		<div class="modal-header">
		  <button type="button" class="close" data-dismiss="modal">&times;</button>
		  <h4 class="modal-title">Purchase List</h4>
		</div>
		<div class="modal-body">
		  <p>No item</p>
		</div>		
		<div class="footer">
		  <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
		</div>
		</div>
	  
	  
</div>

</div>
<div class="modal" id="myModal3" role="dialog">
	<div class="Message">

	  <!-- Modal content-->
	  <div class="modal-content">
		<div class="modal-header">
		  <button type="button" class="close" data-dismiss="modal" onclick="confirmModal(true);">&times;</button>
		  <h4 class="modal-title">Confirmation</h4>
		</div>
		<div class="modal-body">
		  <p id="msgCancel" visibility="hidden">Continue to cancel order?</p>
		  <p id="msgEmail" visibility="hidden">Thanks for shopping with us. <br>You will receive your receipt through email shortly.</p>
		</div>		
		<div id ='footer' class="modal-footer">
		  	<a href="{% url 'sales_web_view' %}" class="glyphicon glyphicon-chevron-left modal-footer add-to-cart" data-dismiss="modal" onclick="cancelSales();" >Yes</a>		
		  	
		</div>
		</div>
	  
	  
</div>
</div>

<!-- <div class="Message Message--green"> -->
  <!-- <div class="Message-icon"> -->
    <!-- <i class="fa fa-check"></i> -->
  <!-- </div> -->
  <!-- <div class="Message-body"> -->
    <!-- <p>This is a message telling you that everything is a-okay!</p> -->
    <!-- <p>Good job, and good riddance.</p> -->
  <!-- </div> -->
  <!-- <button class="Message-close js-messageClose"><i class="fa fa-times"></i></button> -->
<!-- </div> -->

		{% block content %}{% endblock %}
  
</div>
  <footer class="site-footer">
	  <div class="block-footer center-main-block clearfix">
		  <article>
			  <h2>Our Stores</h2>
			  <div class="footer-content">
			  <p>Feel free to visit our stores or contact us.<br>
59, Chulia Street Ghaut <br>
10300 George Town <br>
Pulau Pinang, Malaysia <br>
(604) 261-6943 / 262-7485</p>

        <p>(604) 262-7485</p>
		    </div>
		  </article>
		
	<article>
			<h2>Support</h2>
			<div class="footer-content clearfix ">
	  		<p class="support1 "><a href="">Terms & Conditions</a><br>
		  	<a href="">FAQ</a><br>
			  <a href="">Payment</a><br>
			  <a href="">Refunds</a><br>
			  <a href="">Track Order</a><br>
		  	<a href="">Services</a><br>
		  	<a href="">Privacy & Security</a><br>
			  <a href="">Careers</a><br>
			  <a href="">Press</a><br>
			  <a href="">Corporate Information</a></p> 
			  <p class="support2 "><a>Sizing</a><br>
			  <a href="">Ordering</a><br>
        <a href="">Shipping</a><br>
        <a href="">Return Policy</a><br>
        <a href="">Affiliates</a><br>
        <a href="">Find A Store </a><br>
        <a href="">Site Map</a><br>
        <a href="">Sign Up & Save</a></p>    
		  </div>
	</article>
	<article>
			<h2>Contact us</h2>
			  <div class="footer-content clearfix">
				  <form>
					  <input class="email" type="mailto" placeholder="YOUR E-MAIL...">
					  <textarea class="textform" placeholder="YOUR TEXT...">
					  </textarea>
					  <input class="send-btn" type="submit" value="Send MESSAGE">
				  </form>
			  </div>
  </article>
	</div>
</footer>
  <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="{% static 'css/jquery.min.js' %}"></script> -->
    <!-- <script src="{% static 'css/bootstrap.min.js' %}"></script> -->
			<script src="{% static 'js/jquery/3.1.1/jquery.min.js' %}"></script>
	<script src="{% static 'js/jquery-ui/1.10.2/jquery-ui.js' %}"></script>
  <script src="{% static 'js/jquery/3.3.7/bootstrap.min.js' %} "></script>

<!-- <script src="{% static 'js/index.js' %}"></script> -->
	
<!-- <script src="{% static 'js/gen.js' %}"></script> -->
<script src="{% static 'js/main_base.js' %}"></script>

	
{% block scripts %}
<script>
/*
$('.menu li a').click(function() {
alert(99);  $('.current').removeClass('current');
  $(this).addClass('current');
});
*/
</script>{% endblock %}

<!-- <span class="sr-only">(current)</span> -->
 </body>
</html>
