{% extends 'retail/base.html' %}
{% block pagetitle %}
{{ title }}
{% endblock %}

{% block content %}

<a class="btn btn-primary btn-md" href="{% url 'gst_new' %}">New GST</a>

<div class="table-responsive">

	<table class="table table-striped">
		<thead>
			<tr>
			  <th>#</th>
			  <th>Code</th>
			  <th>Edit</th>
			  <th>Delete</th>
			</tr>
		</thead>
              <tbody>

			  {% for gst in list %}
                <tr>
                  <td>{{ gst.id }}</td>
                  <td>{{ gst.code }}</td>
				  <td><a id="btnEdit" class="btn btn-primary btn-sm" href="{% url 'gst_edit' pk=gst.id %}">EDIT</a></td>
				  <td><a id="btnDelete" class="btn btn-primary btn-sm" href="{% url 'gst_delete' pk=gst.id %}">DELETE</a></td>
                </tr>
				
			  {% endfor %}

              </tbody>
	</table>
</div>

{% endblock %}

