{% load static from staticfiles %}
<html>
<head>

<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
<script src="{% static 'css/jquery.min.js' %}"></script>
<script src="{% static 'css/jquery-ui.min.js' %}"></script>
<script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>



</head>

<body>
{{view.title}}
<ul>
{% for customer in view.Customers %}
<li>{{ customer }} <a href="{% url 'customer_edit' pk=customer.id %}">edit</a> <a href="{% url 'customer_delete' pk=customer.id %}">delete</a></li>
{% endfor %}
</ul>

<a href="{% url 'customer_new' %}">add customer</a>
<a href="{% url 'index' %}">Home</a>

<script src="{% static 'css/bootstrap.min.js' %}"></script>

</body>
</html>
